<?xml version="1.0" encoding="UTF-8"?>
<configs>
    <databaseconfig>
        <databaselink>jdbc:postgresql://localhost:5432/scallfolding</databaselink>
        <user>postgres</user>
        <password>root</password>
    </databaseconfig>
    <config>
        <table>emp</table>
        <path>/Users/rajaonarisonmarcellajulie/Desktop/judi/prog/Mr_Naina/test_scallfolding/</path>
        <package>Utils</package>
    </config>
</configs>